<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>58959636849-ppje9o80ajvov5g2gq1v23dgn0t8qic2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58959636849-ppje9o80ajvov5g2gq1v23dgn0t8qic2</string>
	<key>API_KEY</key>
	<string>AIzaSyAZgYP6KRaFvSFOxQMhI-Yb4o3oKCJ-CKk</string>
	<key>GCM_SENDER_ID</key>
	<string>58959636849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bucle.eSpleen</string>
	<key>PROJECT_ID</key>
	<string>espeen-988b9</string>
	<key>STORAGE_BUCKET</key>
	<string>espeen-988b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58959636849:ios:c56ebdba6423c59d</string>
	<key>DATABASE_URL</key>
	<string>https://espeen-988b9.firebaseio.com</string>
</dict>
</plist>